{% extends 'base.html.twig' %}

{% block title %} Welcome to blog Page {{ id }}{% endblock %}

{% block body %}
    <h1>Welcome to blog number {{ id }}</h1>
    <div>{{ content }}</div>
{% endblock %}
