{% extends 'base.html.twig' %}

{% block title %} Welcome to blog Page {{ id }}{% endblock %}

{% block body %}
    <h1>{{ header }}</h1>
    <div>{{ content }}</div>
    <a href="{{ path('index_page') }}">Return Home</a>
{% endblock %}
