{% extends 'base.html.twig' %}

{% block title %} Welcome to blog Page{% endblock %}

{% block body %}
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.article }}</p>
    <p>{{ blog.blogDate|date('H:m d/m/Y') }}</p>
    <a href="{{ path('index_page') }}">Return Home</a>
{% endblock %}
