{% extends 'base.html.twig' %}

{% block title %} Welcome to blog Page{% endblock %}

{% block body %}
    <h1>Welcome to Eldar Blog</h1>
    <div>
        {% for blog in blogs %}
            <h1><a href="{{ path('blog_page', {'blogId' : blog.id}) }}">{{ blog.title }}</a></h1>
            <p>{{ blog.article }}</p>
            <p>{{ blog.blogDate|date('H:m d/m/Y') }}</p>
        {% endfor %}
    </div>
{% endblock %}